@import "tailwindcss";
/* Vercel Badge ko chupane ke liye */
[data-nextjs-toast] {
  display: none !important;
}
@keyframes slideInRight {
  from { opacity: 0; transform: translateX(30px); }
  to { opacity: 1; transform: translateX(0); }
}
@keyframes slideInLeft {
  from { opacity: 0; transform: translateX(-30px); }
  to { opacity: 1; transform: translateX(0); }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-slideInRight {
  animation: slideInRight 0.3s ease forwards;
}
.animate-slideInLeft {
  animation: slideInLeft 0.3s ease forwards;
}
.animate-fadeIn {
  animation: fadeIn 0.4s ease forwards;
}